# Dependency directories (Folder library pihak ketiga)
node_modules/
jspm_packages/
web_modules/

# Production build outputs (Folder hasil compile/build)
dist/
build/
.next/
out/

# Local env files (File rahasia/konfigurasi lokal - JANGAN di-upload ke GitHub)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Logs (File pencatat error)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files (Konfigurasi text editor/IDE Anda)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata (File sampah otomatis dari Sistem Operasi)
.DS_Store
Thumbs.db
